:root{
  --tamanho-externo: 275px;
  --tamanho-interno: 100px;
  --font-do-8: 150px;
}
@font-face{
  font-family:'Right Chalk';
  src:url('Right Chalk.ttf')
}
body{
  background-color: #13432A;
  color: antiquewhite;
}
h2{position: absolute;
  font-family: 'Right Chalk';
}
#clickNaBola{ display: none;}

label{
  width: var(--tamanho-externo);
  height: var(--tamanho-externo);

  /* Posição */
  z-index: 2;
  position: absolute;
  left:50vw;
  top:50vh;
  transform: translate(-50%,-50%);
}

#externoDaBola{
  color: black;
  background-image: url(./img/bolaresposta.png);
  background-size: cover;
  width: var(--tamanho-externo);
  height: var(--tamanho-externo);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-do-8);
  animation: rolar 14s infinite;
  font-family: Arial, Helvetica, sans-serif;

  border-radius: 50%;

  /* Posição */
  position: absolute;
  left:50vw;
  top:50vh;
  transform: translate(-50%,-50%);
}

/* Interno da bola */
span{
  background-color: white;
  background-size: cover;
  border-radius: 50%;
  color: white;
  width: var(--tamanho-interno);
  height: var(--tamanho-interno);
  text-align: center; 
  padding: 50px;
  line-height: 21px;
  font-size: 18px;
  
  /* Posição */
  z-index: -1;
  position: absolute;
  left:50vw;
  top:50vh;
  transform: translate(-50%,-50%);
}

/* para o conteudo alinhar na primeira linha */
span::after{
  content: "";
  display: inline-block;
  width: 100%;
}

/* ANIAMAÇÕES */
@keyframes rolar {
  0% {
    transform: rotate(0) translate(-50%,-50%);
    transform-origin: 0% 0%; 
  }
  100% {
    transform: rotate(360deg) translate(-50%,-50%);
    transform-origin: 0% 0%; 
  }
}
@keyframes rolarChacoalhar {
  0% {
    transform: rotate(-45deg) translate(-50%,-50%);
    transform-origin: 0% 0%; 
    left:50%; top:50%;
    
  }
  8%  {left:51%; top:50%;}
  16%  {left:51%; top:51%;}
  24%  {left:50%; top:51%;}
  32%  {left:50%; top:50%;}
  40%  {left:51%; top:50%;}
  48%  {left:51%; top:51%;}
  56%  {left:50%; top:51%;}
  64%  {left:50%; top:50%;}
  72%  {left:51%; top:50%;}
  80%  {left:51%; top:51%;}
  90%  {left:50%; top:51%;}
  100% {
    transform: rotate(0deg) translate(-50%,-50%);
    transform-origin: 0% 0%; 
    left:50%; top:50%;
  }
}

.shadow {
  position: absolute;
  display: flex;
  width: var(--tamanho-externo);
  height: 150px;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(110deg) translateZ(-10px) translateX(-50%);

  z-index: -1;

  position: absolute;
  left:50%;
  top:70vh;
}

#instrucoes{
  background-color: white;
  color:  #1C2632;
  max-width: 380px;
  width: 80%;
  min-height: 340px;
  height: 65%;
  border-radius: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 1;
  position: absolute;
  left:50vw;
  top:50vh;
  transform: translate(-50%,-50%);
  padding: 20px;
  line-height: 1.5;
  text-align: justify;
}


/* O que acontece quando checado */
#clickNaBola:checked ~ span { 
  animation-name: rolarChacoalhar;
  animation-duration:  1s;
  display: inline;
  position: absolute;
  background-image: url(./img/triangle3.png);

}
#clickNaBola:checked ~ #externoDaBola { 
  animation: rolarChacoalhar 1s 0s;
  color: rgba(0, 0, 0, 0.0);
  background-color: rgba(0, 0, 0, 0.0);
}


/* MEDIA QUERIES */
@media screen and (min-width: 600px){
  :root{
    --tamanho-externo: 412.5px;
    --tamanho-interno: 150px;
    --font-do-8: 225px;
  }
  span{
    line-height: 30px;
    font-size: 27px;
    padding: 70px;
  }
  #instrucoes{
    max-width: 600px;
    height: 420px;
  }
}
/* MEDIA QUERIES */